header {
    background: $semi-clr;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;

    .h-ic {
        color: white;
    }

    ul {
        display: flex;
        align-items: center;
        margin: 0;

        li {
            list-style: none;
            display: flex;
            align-items: center;
        }
    }

    .nav1 {


        li {
            padding: 0 1rem;
            font-size: 17px;
        }

        #post {
            color: white;
            padding: 4px 8px;
            background: $primary-clr;
        }
    }

    .nav2 {
        #and {
            color: $primary-clr;
            font-size: 1.5rem;
        }

        li {
            padding: 0 1rem;

            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
    }

    .logo {
        font-size: 2.5rem;
        color: $primary-clr;
    }

    .logo1 {
        margin-left: 0.5rem;
        font-size: 2rem;
        color: white;
    }

    .logo2 {
        margin-left: 1rem;
        color: $secondary-clr;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 575px) {}