.second-page {
    display: flex;justify-content: center;
    padding-bottom: 3rem;

    aside {
        min-width: 15%;
        padding: 0 1rem;

        .in-al {
            display: flex;
            align-items: center;
            margin-bottom: 8px;


            input {
                margin-right: 8px;
            }
        }

        .in-al1 {
            margin-right: 1rem;
        }

        .form-group {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0;

        }

        .form-group1 {
            margin-bottom: 8px;
        }

        #cust {
            width: 40px;
            margin-left: 0.5rem;
            border-radius: 2px;
            border: 1px solid #666;
        }


        h3 {
            margin: 0;
            padding-bottom: 5px;
            margin-bottom: 8px;
            border-bottom: 1px solid $secondary-clr;
        }

    }

    .sec1 {
        width: 60%;
        border-right: 1px solid $secondary-clr;
        border-left: 1px solid $secondary-clr;


        .item1 {
            margin: 1rem 0;
            margin-left: 1rem;
        }

        .ad-main {
            display: flex;
            min-height: 200px;
            padding: 1rem;
            border-top: 1px solid $secondary-clr;
            border-bottom: 1px solid $secondary-clr;
            margin-bottom: 8px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: white;
                cursor: pointer;
            }

            .ad-img {
                position: relative;
                height: auto;

                img {
                    height: 100%;
                    width: 220px;
                }

                .ad-icon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $semi-clr;
                    padding: 5px 0;

                    i {
                        color: $primary-clr;
                        font-size: 18px;
                        padding: 0 0.5rem;
                    }
                }
            }

            .ad-content {
                padding: 0 1.5rem;
                padding-top: 12px;

                .ad-con {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .ad-con-h1 {
                        width: 80%;
                        color: $semi-clr;
                        margin: 0;
                        display: inline-block;
                    }

                    i {
                        border: 1px solid $secondary-clr;
                        color: $secondary-clr;
                        font-size: 10px;
                        padding: 4px;
                    }

                }



                .ad-con-h2 {
                    color: $primary-clr;
                    margin: 0;
                    display: inline-block;
                }

                .ad-lw {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    align-items: center;


                    .ady {
                        margin: 0;
                        padding: 8px 0;
                        font-size: 16px;
                    }

                    .ady1 {
                        margin: 0;
                        padding: 4px 8px;
                        font-size: 20px;
                        color: white;
                        background: $primary-clr;
                    }


                }



                .ad-loc {
                    margin-bottom: 8px;

                    h5 {
                        margin: 0;
                        color: $semi-clr;
                        font-size: 16px;

                        span {
                            color: $secondary-clr;
                        }
                    }
                }



                p {
                    color: $secondary-clr;
                }


            }

        }

        .count {
            display: flex;
            padding: 0;
            justify-content: center;
            margin-bottom: 1.5rem;

            li {
                list-style: none;
                padding: 4px 8px;
                border: 1px solid #888;
                margin-right: 8px;
                border-radius: 2px;
                font-weight: 600;
                color: $secondary-clr;
                background: white;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: $secondary-clr;
                    color: white;
                }
            }

            #two {
                color: white;
                background: $primary-clr;
            }

            #dot {
                border: none;
                background: none;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sec1 {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (max-width: 575px) {}