@import "./variables";
@import "./header";
@import "./article1";
@import "./footer";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.article2 {
    min-height: 100vh;

    .ad {
        display: flex;

        .wrapper1 {
            width: 100px;

            i {
                font-size: 20px;
                color: $primary-clr;
                padding: 8px 12px;
                border-radius: 50%;
                border: 1px solid $secondary-clr;
            }
        }

        .wrapper2 {
            display: inline-block;
            width: 60%;
        }


    }
}